<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand font-weight-bold text-white" href="/">Assignment 02</a>
    </div>
</nav>