<div class="p-5 mb-4 bg-white rounded-3 shadow-md border text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-primary mb-3">Question Bank Management Application</h1>
        <p class="col-md-8 mx-auto fs-5 text-muted mb-5">Assignment 2.<br/> HTTP Client - Database MongoDB.</p>
        <div class="d-flex justify-content-center gap-3">
            <a href="/quizzes" class="btn btn-primary btn-lg px-4">Quiz</a>
            <a href="/questions" class="btn btn-success btn-lg px-4">Question</a>
        </div>
    </div>
</div>